odoo-addon-account_brand @ git+https://github.com/OCA/brand.git@refs/pull/303/head#subdirectory=account_brand
odoo-addon-sale_brand @ git+https://github.com/OCA/brand.git@refs/pull/305/head#subdirectory=sale_brand
